
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL="DATABASE_URL"
JWT_SECRET="JWT_SECRET"
#AWS
APP_AWS_ACCESS_KEY = "APP_AWS_ACCESS_KEY"
APP_AWS_SECRET_KEY = "APP_AWS_SECRET_KEY"
NEXT_PUBLIC_APP_AWS_REGION = "APP_AWS_REGION" 
APP_AWS_REGION = 'APP_AWS_REGION'
AWS_S3_BUCKET_NAME = AWS_S3_BUCKET_NAME
NEXT_PUBLIC_AWS_S3_BUCKET_NAME = AWS_S3_BUCKET_NAME